.Home {
  text-align: center;
}

.Home-logo {
  background-image: url("xclogo.jpg");
  background-repeat: no-repeat;
  display: flex-wrap;
  height: 40vmin;
}

.Home-header {
  background-image: url("XCjpg.jpg");
  object-fit: cover;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #09d3ac;
}

.Home-text {
  color: whitesmoke;
  font-weight: 800;
}
