.card-body {
    background-color: rgb(100, 94, 94)
}
.card-runner {
    color: rgb(3, 9, 82);
}
.card-text {
    color: rgb(8, 9, 20);
}
.card-edit {
    color: black;
}
.add-runner {

    text-align: left;
    padding-left: 2%;
    justify-content: left;
}
.myRunners-Div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    white-space: normal;
}
.runner {
    flex-basis: 24%;
}
form {
    display: flex;
    justify-content: center;
}

