.card-body {
    background-color: rgb(100, 94, 94)
}
.card-edit {
    color: black;
}

.myRunners-Div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    white-space: normal;
}
.runner {
    flex-basis: 24%;
}
form {
    display: flex;
    justify-content: center;
}

